@{
    ViewBag.Title = "ZA ROGIEM";
}
<h2>@ViewBag.Title.</h2>


<p>Klientom oferujemy w pełni kompleksową obsługę: począwszy od informowania o nowościach wydawniczych na rynku filmów video, fachowe doradztwo w doborze repertuaru, poprzez sprzedaż hurtową i detaliczną w naszym sklepie internetowym. Wypożyczalnia ZA ROGIEM istnieje na rynku od 1991 roku. Wystartowała mając na stanie kilkadziesiąt tytułów na kasetach VHS. Z roku na rok rozszerzając swoją ofertę dbała jednocześnie o to,by posiadać każdy legalnie ukazujący się tytuł z licencją do wypożyczania.</li>

<p>Ogólne warunki wypożyczeń obowiązujące w wypożyczalni "ZA ROGIEM":</p>

<li>Klient wypożyczając film na płycie (DVD, BLU-RAY) jest uprawniony do jego odtwarzania przez czas określony na rachunku (dowodzie wypożyczenia) i nie ma prawa odstępowania płyty innym osobom.</p>
<li>Tytuł filmu, jego numer ewidencyjny, okres wypożyczenia oraz odpłatność za wypożyczenie filmu określone są na rachunku.</li>
<li>Nie jest dozwolone kopiowanie nagrań i ich wykorzystywanie w celach reklamowych, ani też odtwarzanie publiczne.</li>
<li>Obsługa wypożyczalni może odmówić wypożyczenia filmu bez podania przyczyny.</li>
<li>Obsługa wypożyczalni w szczególnych przypadkach ma prawo zażądać pozostawienia zastawu w formie gotówki za wypożyczenie filmu.</li>
<li>Dowodem zwrotu filmu jest kopia rachunku wystawionego Klientowi przy wypożyczeniu potwierdzona pieczątką, stemplowana po dokonaniu zwrotu.</li>
<li>W przypadku uszkodzenia lub zagubienia płyty, Klient zobowiązany jest do zapłacenia na rzecz wypożyczalni odszkodowania w wysokości jej ceny zakupu.</li>
<li>Uszkodzenie płyty ( porysowanie, pęknięcie, złamanie lub wykruszenie itp.) będzie traktowane równoznacznie z jej zniszczeniem.</li>
<li>W przypadku gdy Klient dokona zwrotu filmu w terminie późniejszym niż określony na rachunku, zobowiązany jest do zapłacenia dodatkowej opłaty za każdy dzień zwłoki zgodnie z ceną wypożyczenia.</li>
<li>Klient zobowiązany jest do podpisania rachunku (dowodu wypożyczenia) akceptując tym samym postanowienia niniejszych ogólnych warunków wypożyczeń.</li>
<li>Wszystkie spory między wypożyczalnią a Klientem będzie rozstrzygał sąd rejonowy w Rzeszowie.</li>
<li>W sprawach nieuregulowanych niniejszymi ogólnymi warunkami wypożyczeń, mają zastosowanie przypisy kodeksu cywilnego.</li>

<h3>Serdecznie zapraszamy wszystkich do odwiedzenia wypożyczalni!.</h3>



