@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wypozyczalnia filmów</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wypozyczalnia filmów</h2>
        <p>
            Nasza oferta to najnowsze przeboje fabularne, 
            bajki, ekranizacje lektur szkolnych, filmy polskie, komediowe oraz filmy dla dzieci.
        </p>
        <img src="~/Images/Home/videoterror-3.jpg" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
        
    </div>
    <div class="col-md-4">
        <h2>ZAPRASZAMY !</h2>
        <img src="~/Images/Home/Online_DVD_Rentals-Orig.jpg" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
    </div>

    <div class="col-md-4">
        <p>GODZINY OTWARCIA:</p>
        <p>pon.-sob.: 9-20</p>
        <p>niedz.: nieczynne</p>
        <img src="~/Images/Home/itunes-movie-sale.jpg" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
    </div>
    
</div>



